<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {# <script language="JavaScript" type="text/javascript" src="{{constant('shopping\\Bootstrap::APP_URL')}}js/jquery-3.3.1.min.js"></script> #}
        <script language="JavaScript" type="text/javascript" src="{{constant('root\\Bootstrap::APP_URL')}}js/shopping.js"></script>
        <link href="{{constant('root\\Bootstrap::APP_URL')}}css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <input type="hidden" name="entry_url" value="{{constant('shopping\\Bootstrap::ENTRY_URL')}}" id="entry_url" >
        <div id="wrapper">
            <div class="header">
                <h3>SHOPPING<span>ー商品詳細ー</span></h3>
            </div>
            <div class="side">
                <p>MENU</p>
                {% include 'Category_menu.html.twig' %}
            </div>
            <div id="item_detail">
                <div class="image">
                    <img src="{{constant('root\\Bootstrap::ENTRY_URL')}}images/{{itemData.image}}" alt="{{itemData.item_name}}" />
                </div>
                <div class="detail">
                    <dl>
                        <dt>商品名</dt><dd>{{itemData.item_name}}</dd>
                        <dt>詳細</dt><dd>{{itemData.detail}}</dd>
                        <dt>価格</dt><dd>&yen;{{itemData.price|number_format(0, '.', ',')}}</dd>
                        {# shopping.jsでの遷移先情報に用いる #}
                        <input type="hidden" name="item_id" id="item_id" value="{{itemData.item_id}}">
                    </dl>
                </div>
                <div class="cart_in">
                    {# 戻る先がない時(新しいウィンドウで開く等)での意図しない挙動を防ぐ #}
                    {# https://ja.javascript.info/default-browser-action #}
                    {# return false; は phpのexitと同じ #}
                    <input type="button" name="back" value="一覧へ戻る" onclick="history.back(); return false;" />
                    {# jsでイベント確認 #}
                    <input type="button" name="cart_in" value="ショッピングカートへ入れる" id="cart_in" />
                </div>
            </div>
        </div>
    </body>
</html>